<?xml version="1.0" standalone="no" ?>
<!DOCTYPE page SYSTEM "entities.dtd" >
<xpage:html xmlns="http://www.w3.org/1999/xhtml" xmlns:xpage="http://eprints.org/ep3/xpage" xmlns:epc="http://eprints.org/ep3/control">
<xpage:head>
<xpage:title>Selenium Configuration</xpage:title>
</xpage:head>
<xpage:body>

<h1>Selenium Configuration</h1>
<div id="archive_name">ARCHIVE_NAME</div>
<div id="admin_email">ADMIN_EMAIL</div>
<div id="user_admin_username">admin</div>
<div id="user_admin_password">admin</div>
<div id="user_admin_usertype">Admin</div>
<div id="user_admin_name_honourific">Prof</div>
<div id="user_admin_name_given">Ad</div>
<div id="user_admin_name_family">Min</div>
<div id="user_admin_new_password">admin2</div>
<div id="user_admin_email">admin@example.eprints.org</div>
<div id="user_user_username">user</div>
<div id="user_user_password">user</div>
<div id="user_user_usertype">User</div>
<div id="user_user_name_honourific">Mr</div>
<div id="user_user_name_given">Us</div>
<div id="user_user_name_family">Er</div>
<div id="user_user_email">user@example.eprints.org</div>
<div id="user_editor_username">editor</div>
<div id="user_editor_password">editor</div>
<div id="user_editor_usertype">Editor</div>
<div id="user_editor_name_honourific">Dr</div>
<div id="user_editor_name_given">Ed</div>
<div id="user_editor_name_family">Itor</div>
<div id="user_editor_email">editor@example.eprints.org</div>
<div id="user_destroy_username">destroy</div>
<div id="user_destroy_password">destroy</div>
<div id="user_destroy_usertype">User</div>
<div id="user_destroy_name_honourific">Sir</div>
<div id="user_destroy_name_given">Des</div>
<div id="user_destroy_name_family">Troy</div>
<div id="user_destroy_email">destroy@example.eprints.org</div>
<div id="epm_ci_test_id">ci_test</div>
<div id="epm_ci_test_invalid_id">ci-test</div>
<div id="epm_ci_test_title">CI Test</div>
<div id="config_file_name">99_test.pl</div>
<div id="config_file_data">$c->{adminemail} = 'admin2@example.eprints.org';</div>
<div id="config_directory_name">test</div>
<div id="phrase_new_id">ci_test</div>
<div id="subject_new_id">ci_test</div>
<div id="subject_new_name">CI Test</div>
<div id="metafield_new_name">ci_test</div>
<div id="metafield_new_phrase_name">CI Test</div>
<div id="metafield_new_phrase_help">Continuous Integration Test</div>
<div id="metafield_new_maxlength">100</div>
<div id="eprint_1_type_value">article</div>
<div id="eprint_1_type_label">Article</div>
<div id="eprint_1_type_value_new">conference_item</div>
<div id="eprint_1_type_label_new">Conference or Workshop Item</div>
<div id="eprint_1_document_1_filename">test.pdf</div>
<div id="eprint_1_document_1_size">7kB</div>
<div id="eprint_1_document_1_content">Draft Version</div>
<div id="eprint_1_document_1_formatdesc">Test</div>
<div id="eprint_1_document_1_license_value">Creative Commons: Public Domain Dedication</div>
<div id="eprint_1_document_1_license_label">Creative Commons Public Domain Dedication</div>
<div id="eprint_1_title">Test Article</div>
<div id="eprint_1_title_new">Test Conference Item</div>
<div id="eprint_1_creator_1_name_given">Us</div>
<div id="eprint_1_creator_1_name_family">Er</div>
<div id="eprint_1_creator_1_id">user@example.eprints.org</div>
<div id="eprint_1_creator_2_name_given">Auth</div>
<div id="eprint_1_creator_2_name_family">Or</div>
<div id="eprint_1_creator_2_id">author@example.eprints.org</div>
<div id="eprint_1_ispublished_value">pub</div>
<div id="eprint_1_ispublished_label">Published</div>
<div id="eprint_1_refereed_value">false</div>
<div id="eprint_1_refereed_label">No</div>
<div id="eprint_1_refereed_value_new">true</div>
<div id="eprint_1_refereed_label_new">Yes</div>
<div id="eprint_1_publication">Journal of Test</div>
<div id="eprint_1_date_year">2022</div>
<div id="eprint_1_date_month">June</div>
<div id="eprint_1_date_day">17</div>
<div id="eprint_1_date_type_value">published</div>
<div id="eprint_1_date_type_label">Published</div>
<div id="eprint_1_id_number">10.1234.5678</div>
<div id="eprint_1_ids_1_id">10.1234/5678</div>
<div id="eprint_1_ids_1_id_type">DOI</div>
<div id="eprint_1_subject_1_parent_1_id">A</div>
<div id="eprint_1_subject_1_id">AI</div>
<div id="eprint_1_subject_1_name">AI Indexes (General)</div>
<div id="eprint_1_subject_1_parent_1_id_new">B</div>
<div id="eprint_1_subject_1_id_new">BC</div>
<div id="eprint_1_subject_1_name_new">BC Logic</div>
<div id="eprint_1_pres_type_value">paper</div>
<div id="eprint_1_pres_type_label">Paper</div>
<div id="eprint_1_official_url">http://example.eprints.org/</div>
<div id="eprint_1_related_url_1_url">http://example.eprints.org/organisation/</div>
<div id="eprint_1_related_url_1_type">Organisation</div>
<div id="eprint_1_event_title">Example Conference</div>
<div id="eprint_1_event_location">Somewhere</div>
<div id="eprint_1_event_dates">19th - 23rd June 2022</div>
<div id="eprint_1_event_type_value">conference</div>
<div id="eprint_1_event_type_label">Conference</div>
<div id="eprint_2_type_value">book</div>
<div id="eprint_2_type_label">Book</div>
<div id="eprint_2_document_1_filename">test.pdf</div>
<div id="eprint_2_document_1_size">7kB</div>
<div id="eprint_2_document_1_content">Submitted Version</div>
<div id="eprint_2_document_1_formatdesc">Test</div>
<div id="eprint_2_document_1_security">Repository staff only</div>
<div id="eprint_2_document_1_license_value">Creative Commons: Public Domain Dedication</div>
<div id="eprint_2_document_1_license_label">Creative Commons Public Domain Dedication</div>
<div id="eprint_2_document_1_date_embargo_year">2021</div>
<div id="eprint_2_document_1_date_embargo_year_correct">2031</div>
<div id="eprint_2_document_1_date_embargo_month">June</div>
<div id="eprint_2_document_1_date_embargo_day">27</div>
<div id="eprint_2_document_1_embargo_reason">Information intended for future publication</div>
<div id="eprint_2_title">Test Book</div>
<div id="eprint_2_creator_1_name_given">Us</div>
<div id="eprint_2_creator_1_name_family">Er</div>
<div id="eprint_2_creator_1_id">user@example.eprints.org</div>
<div id="eprint_2_editor_1_name_given">Ed</div>
<div id="eprint_2_editor_1_name_family">Itor</div>
<div id="eprint_2_editor_1_id">editor@example.eprints.org</div>
<div id="eprint_2_ispublished_value">pub</div>
<div id="eprint_2_ispublished_label">Published</div>
<div id="eprint_2_refereed_value">false</div>
<div id="eprint_2_refereed_label">No</div>
<div id="eprint_2_date_year">2022</div>
<div id="eprint_2_date_month">February</div>
<div id="eprint_2_date_day">29</div>
<div id="eprint_2_date_day_correct">28</div>
<div id="eprint_2_date_type_value">published</div>
<div id="eprint_2_date_type_label">Published</div>
<div id="eprint_2_place_of_pub">Somewhere</div>
<div id="eprint_2_publisher">EPrints Publishers</div>
<div id="eprint_2_pages">eighty</div>
<div id="eprint_2_series">EPrints Series</div>
<div id="eprint_2_volume">1</div>
<div id="eprint_2_number">2</div>
<div id="eprint_2_edition">Third</div>
<div id="eprint_2_isbn">067157826X</div>
<div id="eprint_2_ids_1_id">0-1234-5678-1</div>
<div id="eprint_2_ids_1_id_correct">0-1234-5678-2</div>
<div id="eprint_2_ids_1_id_type">ISBN</div>
<div id="eprint_2_contact_email">editor@example/eprints.org</div>
<div id="eprint_2_contact_email_correct">editor@example.eprints.org</div>
<div id="eprint_2_subject_1_parent_1_id">A</div>
<div id="eprint_2_subject_1_id">AI</div>
<div id="eprint_2_subject_1_name">AI Indexes (General)</div>
<div id="eprint_2_subject_1_parent_1_id_new">B</div>
<div id="eprint_2_subject_1_id_new">BC</div>
<div id="eprint_2_subject_1_name_new">BC Logic</div>

</xpage:body>

</xpage:html>

